:root {
  --fonts-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  // Values based on http://www.modularscale.com/?1&em&1.2
  --type-very-small: .694em;
  --type-small: .833em;
  --type-base: 1em;
  --type-medium: 1.2em;
  --type-large: 1.728em;

  @media (min-width: 1px) {
    // Values based on http://www.modularscale.com/?1&em&1.2
    --type-very-small: .694em;
    --type-small: .833em;
    --type-base: 1em;
    --type-medium: 1.2em;
    --type-large: 1.728em;

    --layout-header-height: 60px;
  }
}
