:root {
  --fonts-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  // Values based on http://www.modularscale.com/?1&em&1.2
  --type-very-small: .694rem;
  --type-small: .833rem;
  --type-base: 1rem;
  --type-medium: 1.2rem;
  --type-large: 1.728rem;
  --type-xlarge: 2.488rem;
  --type-splash: 3.583rem;

  --layout-header-height: 3.75rem;

  @each $color,
  $value in $colors {
    --clr-#{$color}: #{$value};
  }

  --clr-bg: var(--clr-light);
  --clr-fg: var(--clr-dark);
  --clr-accent: var(--clr-main);
  --clr-accent-dark: var(--clr-main-dark);
  --clr-accent-light: var(--clr-main-light);
  --clr-decent: var(--clr-dark-light);

  --layout-fleuron: url('~assets/img/icons/floral-heart-dark-red.svg');
}

@media (prefers-color-scheme: dark) {
  :root:not([data-user-theme="light"]) {
    --clr-fg: var(--clr-light);
    --clr-bg: var(--clr-dark-lighter);
    --clr-accent: var(--clr-main-darker);
    --clr-accent-dark: var(--clr-main-light);
    --clr-accent-light: var(--clr-main-dark);
    --clr-decent: var(--clr-light-dark);

    --layout-fleuron: url('~assets/img/icons/floral-heart-light-red.svg');
  }
}

:root[data-user-theme="dark"] {
  --clr-fg: var(--clr-light);
    --clr-bg: var(--clr-dark-lighter);
    --clr-accent: var(--clr-main-darker);
    --clr-accent-dark: var(--clr-main-light);
    --clr-accent-light: var(--clr-main-dark);
    --clr-decent: var(--clr-light-dark);

    --layout-fleuron: url('~assets/img/icons/floral-heart-light-red.svg');
}
