html {
  font-family: $fonts-main;
  font-size: 99%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media(min-width: breakpoint(small)) {
    font-size: 101%;
  }

  @media(min-width: breakpoint(medium)) {
    font-size: 104%;
  }

  @media(min-width: breakpoint(large)) {
    font-size: 107%;
  }

  @media(min-width: breakpoint(xlarge)) {
    font-size: 110%;
  }

  @media(min-width: breakpoint(xxlarge)) {
    font-size: 114%;
  }

  @media(min-width: 1550px) {
    font-size: 118%;
  }

  @media(min-width: 1750px) {
    font-size: 122%;
  }

  @media(min-width: 2000px) {
    font-size: 126%;
  }
}
