html {
  font-family: $fonts-main;
  font-size: 95%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media(min-width: breakpoint(small)) {
    font-size: 98%;
  }

  @media(min-width: breakpoint(medium)) {
    font-size: 102%;
  }

  @media(min-width: breakpoint(large)) {
    font-size: 105%;
  }

  @media(min-width: breakpoint(xlarge)) {
    font-size: 108%;
  }

  @media(min-width: breakpoint(xxlarge)) {
    font-size: 111%;
  }
}
