*, *:before, *:after {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin: 0;

}

::selection {
  background-color: var(--clr-accent);
  color: var(--clr-bg);
}
