a {
  color: var(--clr-accent);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: var(--clr-accent-dark);
  }

  &.nuxt-link-active {
    font-weight: bold;
    text-decoration: underline;
  }
}
