.main-headline {
  font-size: var(--type-large);
  margin: space(double, relative) 0 space(half, relative);

  &:first-child {
    margin-top: 0;
  }
}

.sub-headline,
.text__body h2 {
  font-size: var(--type-medium);
  margin: space(full, relative) 0 space(half, relative);
}

.small-headline,
.text__body h3 {
  font-size: var(--type-base);
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.1;
  margin: space(double, relative) 0 space(half, relative) 0;
  text-transform: uppercase;
  word-spacing: 0.1em;

  & + p {
    margin-top: 0;
  }
}

p {
  font-size: var(--type-base);
  line-height: 1.55;
  margin-bottom: 0.25 * space(half, relative);
  text-indent: 1em;

  .main-headline + &,
  .sub-headline + &,
  .small-headline + &,
  .text__body h2 + &,
  .text__body h3 + &,
  pre + &,
  &:first-child {
    text-indent: 0;
  }
}

.p-small {
  font-size: var(--type-small);
}

.type-is-aside {
  color: color(text-light);
  font-size: var(--type-small);
}
