.main-headline {
  font-size: 1.728em;
  font-size: var(--type-large);
  margin: space(double, relative) 0 space(half, relative);

  &:first-child {
    margin-top: 0;
  }
}

.sub-headline {
  font-size: 1.2em;
  font-size: var(--type-medium);
  margin: space(full, relative) 0 space(half, relative);
}

.small-headline {
  font-size: 1em;
  font-size: var(--type-base);
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.1;
  margin: space(full) 0 space(half) 0;
  text-transform: uppercase;
  word-spacing: .1em;

  & + p {
    margin-top: 0;
  }
}

p {
  font-size: 1em;
  font-size: var(--type-base);
  line-height: 1.425;
  margin-bottom: space(half, relative);
  text-indent: 1em;

  .main-headline + &, .sub-headline + &, .small-headline + &, &:first-child {
    text-indent: 0;
  }
}

.p-small {
  font-size: .833em;
  font-size: var(--type-small);
}
