.content {
  padding: 4vmin;

  @supports (display: grid) {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr minmax(calc(90vmin), 1fr) 1fr;
    padding: space(double, viewport) 0;

    & > * {
      grid-column: 2 / span 1;
    }

    & > *.full-width {
      grid-column: 1 / -1;
      width: 100%;
    }

    &--narrow {
      grid-template-columns: 1fr minmax(75vmin, 1fr) 1fr;
    }
  }

  &--no-padding {
    padding: 0;

    & + .site-footer {
      margin-top: 0;
    }
  }

  &--dark {
    --clr-accent: #28caf0;
    --clr-red: #f76050;
    --clr-bg: #222325;

    @media (prefers-color-scheme: dark) {
      :root {
        --clr-fg: var(--clr-fg);
        --clr-bg: var(--clr-bg);
      }
    }

    font-family: monospace;
    font-size: 1.2em;
    background-color: var(--clr-bg);
    color: var(--clr-fg);

  }
}
