$colors: (
  main: #b00000,
  main-light: lighten(#b00000, 10),
  main-dark: darken(#b00000, 10),
  light: #f8f2e3,
  dark: #0e0e0e,
  text-light: #666,
  success-main: #388e3c,
  success-light: #00e676,
  warning-main: #fdd835,
  warning-light: #ffee58,
  error-main: #dd2c00,
  error-light: #ff3d00
);
