$colors: (
  main: #b00000,
  main-light: lighten(#b00000, 10),
  main-dark: darken(#b00000, 10),
  light: #f8f2e3,
  dark: #0e0e0e,
  success-main: #388E3C,
  success-light: #00E676,
  warning-main: #FDD835,
  warning-light: #FFEE58,
  error-main: #DD2C00,
  error-light: #FF3D00
)
